aliyun-python-sdk-core==2.13.15
aliyun-python-sdk-sts==3.0.1
APScheduler==3.6.3
Django==3.1.7
djangorestframework==3.11.1
elasticsearch==7.10.1
gevent==20.4.0
greenlet==0.4.15
gunicorn==20.0.4
kafka-python==2.0.1
mysqlclient==1.4.6
oss2==2.11.0
pandas==1.1.2
redis==3.4.1
requests==2.23.0
yagmail==0.14.245
hiredis==2.0.0
pydash==4.9.2